.form {
    padding: 20px;
}

.form__fildset {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
    border: none;
}

@media (max-width: 767px) {
    .form__fildset {
        grid-template-columns: 1fr;
    }
}

.form__input {
    border: 2px solid gainsboro;
    padding: 10px;
}

.form__button {
    background-color: teal;
    color: white;
    padding: 10px;
    border: none;
    transition: 1s;
}

.form__button:hover {
    background-color: rgb(1, 145, 145);
    transform: scale(1.1);
}

.form__button:active {
    background-color: rgb(0, 165, 165);
}