.buttons__button {
    border: none;
    background: transparent;
    color: teal;
    font-weight: 500;
    transition: 1s;
}

.buttons__button:disabled {
    color: gainsboro;
    transition: none;
}

.buttons__button:hover:enabled {
    color: rgb(0, 167, 167);
}

.buttons__button:active:enabled {
    color: hsl(180, 100%, 50%);
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
}

@media (max-width: 767px) {
    .buttons{
    grid-template-columns: 1fr;
    }
}

@media (max-width: 767px) {
    .buttons__button{
    padding: 10px;
    }
}